body{
    margin: 0;
}
.bg{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-image1{
    background-image: url(../İmages/bg-2.jpeg);
    height: 100vh;
}
.bg-image2{
    height: 50vh;
    background-image: url(../İmages/bg-3.jpeg);
}
.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    /* width verip satırı tamamen kaplamasını sağladık ve text-align kullanarak orta kısma aldık. */
}
.caption .border{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.box {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
}
