.button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 20px 8px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.btn-menu{
    background-color: gray;
    color: aqua;
    border: 3px solid rosybrown;
    
}
.btn-menu:hover {
    background: aqua;
    color: gray;
    border: 3px solid rosybrown;
}

.btn-help{
    background-color: brown;
    color: white;
    border: 3px solid black;
}
.btn-help:hover{
    background: white;
    color: brown;
    border: 3px solid black;
}

